# Data and Logs
data/raw/
data/processed/
outputs/
wandb/

# Environments & Secrets
.env
.venv/
env/

# Python Cache & Build Artifacts
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.egg-info/

# Experiment Tracking
wandb/
outputs/
multirun/

# OS Files
.DS_Store